
body {
    background-color: #c9bfff;
    font-family: sans-serif;
    line-height: 150%;

    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
}

h1{
    line-height: 150%;
}

h2{
    line-height: 150%;
}

hr{
    border-color: black;
}

footer {
    padding-top: 10px;
    font-size: small;
}

/***************ACCORDIONS********************/

/*Accordion code from https://www.w3schools.com/howto/howto_js_accordion.asp

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #bdb4ec;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: medium;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
        background-color: #e0dafe;
    }

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: #c9bfff;
    display: none;
    overflow: hidden;
}

/*****************NAV BAR*********************/
/*Nav bar code from https://www.w3schools.com/howto/howto_js_topnav.asp

/* Add a black background color to the top navigation */
.topnav {
    background-color: #606060;
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
            background-color: #2a2ae9;
            color: white;
        }